<div id="resultados-container">
  <div class="tela-sucesso" *ngIf="saidaCalculo">
    <h1><mat-icon>thumb_up</mat-icon> Resultados</h1>
  
    <div class="painel-resultado">
      <div class="card">
        <p><mat-icon>savings</mat-icon> Economia estimada:</p>
        <h3 class="grana">
          R$ {{ saidaCalculo.economia | number: '1.0-0' }}
        </h3>
      </div>
      <div class="card">
        <p><mat-icon>trending_up</mat-icon> ROI estimado:</p>
        <h3 class="roi">{{ saidaCalculo.roi }}%</h3>
      </div>
      <div class="card" *ngIf="saidaCalculo.receita">
        <p><mat-icon>show_chart</mat-icon> Receita adicional:</p>
        <h3 class="grana">
          R$ {{ saidaCalculo.receita | number: '1.0-0' }}
        </h3>
      </div>
      <div class="card" *ngIf="saidaCalculo.novasVendas">
        <p><mat-icon>shopping_cart</mat-icon> Novas vendas:</p>
        <h3 class="roi">{{ saidaCalculo.novasVendas }}</h3>
      </div>
    </div>
  <div class="botoes">
    <button mat-stroked-button color="primary" class="custom-btn-refazer" routerLink="/">
      Refazer Cálculo
    </button>
    <button mat-stroked-button color="primary" class="custom-purple-btn" (click)="gerarPdf()">
      <mat-icon>download</mat-icon> 
      Baixar Resultado
    </button>
  </div>
    
  </div>
</div>
